@media only screen and (min-width: 1030px) {
	.word-counter__heading {
		font-size: 5rem;
	}
	#textarea {
		max-width: 42rem;
		height: 60vh;
	}
	#count-btn {
		margin: 1rem 0;
		font-size: 2rem;
		padding: 2rem 4rem;
		box-shadow: inset 0px 1px 0px grey, 0px 10px 0px 0px lightgrey,
			0px 10px 0px #999;
	}

	.grid {
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(12, 1fr);
	}
	.your-text__section,
	.word-density__section,
	.miscellaneous__section,
	.word-count__section {
		height: unset;
		width: 50vw;
		overflow: auto;
	}
	.your-text__section,
	.miscellaneous__section {
		border-right: 3px solid whitesmoke;
	}
	.your-text__section {
		grid-row: span 9;
	}
	.miscellaneous__section {
		grid-row: span 3;
	}
	.word-density__section {
		grid-row: span 10;
	}
	.word-count__section,
	.back-btn__div,
	.footer {
		grid-row: span 1;
	}
	.footer {
		grid-column: span 2;
	}
	.home-footer {
		position: relative;
		width: 100vw;
		bottom: 0;
		flex-shrink: 0;
	}
}
