@media only screen and (min-width: 1030px) {
	.word-counter__heading {
		font-size: 5rem;
	}
	#textarea {
		max-width: 42rem;
		height: 28rem;
	}
	#count-btn {
		margin-top: 1rem;
		font-size: 2rem;
		padding: 2rem 4rem;
		box-shadow: inset 0px 1px 0px grey, 0px 10px 0px 0px lightgrey,
			0px 10px 0px #999;
	}
	.grid {
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(12, 1fr);
	}
	.your-text__section,
	.word-density__section,
	.miscellaneous__section,
	.word-count__section {
		height: unset;
		border: 3px solid whitesmoke;
		/* border: none; */
		width: 50vw;
		overflow: auto;
	}
	.your-text__section {
		grid-row: span 8;
	}
	.miscellaneous__section {
		grid-row: span 4;
	}
	.word-count__section,
	.back-btn__div {
		grid-row: span 1;
	}
	.word-density__section {
		grid-row: span 10;
	}

	footer {
		grid-row: span 1;
		grid-column: span 2;
	}

	/* .word-count__section,
	.word-density__section {
		border-left: 3px solid whitesmoke;
	} */
}
