* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #504d4d;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1rem;
  background: #3497be;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
}

.word-counter__header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word-counter__heading {
  color: whitesmoke;
  font-size: 7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.input-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#textarea {
  border: 3px solid black;
  width: 90vw;
  height: 40vh;
  max-height: 60vh;
  font-size: 2rem;
  padding: 1rem;
  box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    -10px 10px 5px black;
}

#count-btn {
  margin-top: 3rem;
  font-size: 4.5rem;
  padding: 2rem 5rem;
  border: 1.3px solid black;
  background: #f3e410;
  border-radius: 60px;
  outline: none;
  font-weight: bold;
  text-shadow: 0 -1px 0px #0000004d;
  box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
    0px 20px 0px #999;
}

#count-btn:hover {
  color: #dfe7ea;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
    0px 5px 10px #999;
}

/* ----------------WORDS COUNTED PAGE---------------- */
#words-counted__page {
  display: none;
}

.header {
  margin-top: 0.5rem;
  font-size: 5rem;
  color: whitesmoke;
  text-align: center;
}

.your-text__section,
.word-density__section,
.miscellaneous__section {
  border-bottom: 3px solid whitesmoke;
  width: 100vw;
  overflow: auto;
}

.your-text__section,
.word-density__section {
  font-size: 2rem;
  height: 35vh;
}

.miscellaneous__section {
  height: 25vh;
}

#your-text__body,
.word-density__table {
  font-size: 2.5rem;
}

.word-count__section {
  border-bottom: 3px solid whitesmoke;
  width: 100vw;
  font-size: 2rem;
}

#your-text__body,
.word-density__table,
.miscellaneous__item {
  margin: 1rem;
}
